@import '../../variables';

.main {
  flex-grow: 1;
  &__container {
    display: flex;
    gap: 10px;
    flex-grow: 1;
  }
  &__heading {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: $mainColor;
    &_subheading {
      font-size: 25px;
    }
  }
}

.cards {
  padding: 10px;
  flex-grow: 1;
  border-radius: 4px;
  background-color: $backgroundColor;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(225px, 1fr)
  ); /* определение количества и размеров колонок */
  gap: 10px; /* промежуток между элементами */
  align-items: start; /* выравнивание по верхнему краю */
}
