@import '../../variables.scss';

.LastSales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__heading {
    margin-top: 20px;
    font-size: 27px;
    color: $mainColor;
  }
  &__container {
    margin-top: 20px;
    background-color: $backgroundColor;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
}
