@import "../../variables.scss";

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  &__heading {
    color: $mainColor;
    font-size: 40px;
  }
}

@media screen and (max-width: 1279px) {
  .notFound {
    &__heading {
      font-size: 20px;
    }
  }
}
