<html>
  <head>
    <style type='text/css' rel='stylesheet' media='all'>
      body { font-family: sans-serif, Raleway, Ubuntu; }
    </style>
  </head>
  <body>
    <h1>Вы успешно оставили заявку в поддержку. Наша команда свяжется с вами в
      ближайшее время.</h1>
  </body>
</html>