@import '../../variables';

$borderRadiusSize: 10px;

.price {
  z-index: 3;
  display: grid;
  flex-direction: column;
  right: 0;
  bottom: 0;
  width: 160px;
  height: 50px;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; /* Одна явная строка */
  grid-auto-flow: dense; /* Схлопывание пустых ячеек */
  background-color: $transparent-background;
  border-radius: $averageBorderRadius 0 0 0;
  justify-items: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  &_slick {
    border-radius: 0 0 $averageBorderRadius 0;
  }
  &_order {
    position: static;
    margin: auto 0;
    border-radius: $borderRadiusSize;
  }
  &__discount {
    $discountWidth: 80px;
    font-size: 25px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #beee11;
    width: $discountWidth;
    left: -$discountWidth;
    height: 100%;
    grid-row-end: span 2;
  }

  &__cost {
    width: 100%;
    padding: 0 10px;
    display: flex;
    z-index: 1;
    color: $second-color;
    font-size: 25px;
    align-items: center;
    gap: 3px;
    justify-self: center; /* Горизонтальное центрирование */
    align-self: center; /* Вертикальное центрирование */
    &::after {
      text-align: center;
      content: ' RUB';
      font-weight: 400;
      font-size: 16px;
    }

    &_old {
      color: $mainColor;
      font-size: 20px;
      text-decoration: line-through;
    }
  }
}
