@import '../../variables';

$borderRadiusSize: 10px;

.price {
  z-index: 3;
  display: flex;
  right: 0;
  bottom: 0;
  height: 50px;
  position: absolute;
  background-color: $semi-transparent-background;
  border-radius: $averageBorderRadius 0 0 0;
  &_slick {
    border-radius: 0 0 $averageBorderRadius 0;
  }
  &_order {
    position: static;
    margin-top: 20px;

    border-radius: $borderRadiusSize;
    background-color: $transparent-background;
  }
  &__discount {
    $discountWidth: 80px;
    font-size: 25px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #beee11;
    width: $discountWidth;
    left: -$discountWidth;
    height: 100%;
    grid-row-end: span 2;
  }

  &__cost {
    width: 100%;
    padding: 0 10px;
    display: flex;
    z-index: 1;
    color: $second-color;
    font-size: 25px;
    align-items: center;
    gap: 3px;
    justify-self: center; /* Горизонтальное центрирование */
    align-self: center; /* Вертикальное центрирование */
    &::after {
      text-align: center;
      content: ' RUB';
      font-weight: 400;
      font-size: 16px;
    }

    &_old {
      color: $mainColor;
      font-size: 20px;
      text-decoration: line-through;
    }
  }
}
