@import '../../variables';
.footer{
  width: 100%;
  border-radius: $averageBorderRadius $averageBorderRadius 0 0;
  height: 50px;
  margin: 0;
  margin-top: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: $backgroundColor;
  color: $mainColor;
}