@import '../../variables.scss';
.systemInfo {
  color: $mainColor;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  &__title {
    margin: 0 auto;
  }
  &__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__disk {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
