@import "../../variables.scss";
.auth {
  margin-top: 100px;
  align-items: center;
  color: $mainColor;
  &-form {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__heading {
      text-align: center;
      font-size: 25px;
      margin-bottom: 10px;
    }
    &__input-label {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &__input {
      padding: 10px;
      background: none;
      border: none;
      color: $mainColor;
      height: 40px;
      outline: none;
      border-radius: $averageBorderRadius;
      background-color: $backgroundColor;
      &:focus {
        outline: 1px solid $mainColor;
      }
    }
    &__button-container {
      display: flex;
      justify-content: space-between;
    }
    &__button {
      cursor: pointer;
      background: none;
      border: none;
      color: $mainColor;
      border: 1px solid $mainColor;
      height: 30px;
      font-size: 20px;
      border-radius: $averageBorderRadius;
      &:disabled {
        color: grey;
        border-color: grey;
      }
      &_small-text {
        font-size: 15px;
      }
    }
  }
  &__link {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
