@import '../../variables';

.GameTag {
  color: $mainColor;
  padding: 5px 10px;
  background-color: $semi-transparent-background;
  border-radius: $averageBorderRadius;
  height: 28px;
  text-wrap: nowrap;
}
