@import '../../variables';

.gameCard {
  color: $mainTextColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  border-radius: $averageBorderRadius;
  &__date {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 3;
  }
  &:hover {
    color: $mainColor;
  }
  &__image {
    width: 100%;
    transition: scale 0.5s ease;
    &_hovered {
      scale: 1.2;
    }

    &-container {
      position: relative;
      display: flex;
      overflow: hidden;
    }
  }

  &__name {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    font-size: 100%;
    text-align: center;
    text-wrap: nowrap;
    z-index: 2;
    white-space: nowrap; /* Предотвращает перенос текста */
    overflow: hidden; /* Скрывает текст, который не помещается */
    text-overflow: ellipsis; /* Отображает многоточие для скрытого текста */
  }

  &:after {
    content: '';
    background-color: rgba(0, 0, 0, 0); /* Начальный цвет фона */
    transition: background-color 0.5s ease; /* Анимация изменения цвета фона в течение 0.5 секунд с эффектом ease */
  }

  &:hover {
    &:after {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

@media screen and (max-width: 1279px) {
  .gameCard {
    &__name {
      font-size: 10px;
    }
  }
}
