@import '../../variables';

.gameCard {
  color: $mainTextColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  &:hover {
    color: $mainColor;
  }
  &__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: scale 0.5s ease;

    &_hovered {
      scale: 1.2;
    }

    &-container {
      position: relative;
      display: flex;
      overflow: hidden;
    }
  }

  &__name {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 $averageBorderRadius $averageBorderRadius;
    padding: 10px;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    text-wrap: nowrap;
    z-index: 2;
  }

  &:after {
    content: '';
    background-color: rgba(0, 0, 0, 0); /* Начальный цвет фона */
    transition: background-color 0.5s ease; /* Анимация изменения цвета фона в течение 0.5 секунд с эффектом ease */
  }

  &:hover {
    &:after {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
