.GameLogo {
  width: 100%;

  flex-grow: 1;
  object-position: center;
  &_orientation {
    &_default {
      max-width: 638px;
      object-fit: contain;
    }
    &_portait {
      height: 337px;
      width: 325px;
      object-fit: cover;
    }
  }
}
